[default]
; default of this CVarGroup
= 3

r_DetailTextures=1
r_refraction=1
sys_flash_edgeaa=1
e_VegetationUseTerrainColor=1
e_TerrainAo=0
e_GINumCascades = 1
r_HDRBlueShift=1.0
r_HDRLevel=6
r_HDROffset=10
ti_VoxMaxInstances=300
ti_RT_SS_Fix=0
ti_VoxTexCopyBugWorkaround=1
sys_spec_Quality=3
e_SkyUpdateRate=1
r_DetailDistance=8
e_TerrainNormalMap=1
r_DetailNumLayers=2
e_DynamicLightsMaxEntityLights=16
r_UsePom=1
r_EnvTexUpdateInterval=0.05
r_TexturesFilteringQuality=0
e_GI = 1
e_GIMaxDistance=100
ti_DiffuseLowResMode = 2
r_RefractionPartialResolveMinBlocks=0
r_RefractionPartialResolves=2
r_ssdo=1
r_ssdoHalfRes=2
ti_GsmCascadeLod=2
ti_RsmUseColors=1

[1]
sys_spec_Quality=1
e_SkyUpdateRate=0.5
r_DetailDistance=4
e_TerrainNormalMap=0
r_DetailNumLayers=1
e_DynamicLightsMaxEntityLights=7
r_UsePom=0
r_EnvTexUpdateInterval=0.075
r_TexturesFilteringQuality=1
e_GI = 0
e_GIMaxDistance=50
ti_DiffuseLowResMode = 5
r_RefractionPartialResolveMinBlocks=2
r_ssdo = 0
r_ssdoHalfRes=3

[2]
sys_spec_Quality=2
ti_DiffuseLowResMode = 4
r_DetailNumLayers=1
e_DynamicLightsMaxEntityLights=11
r_RefractionPartialResolveMinBlocks=1
r_ssdoHalfRes=3

[4]
sys_spec_Quality=4
ti_DiffuseLowResMode = 1

; XONE & PS4 
[5]
sys_spec_Quality=5
r_ssdo = 1
r_ssdoHalfRes=3
r_EnvTexUpdateInterval=0.075
ti_VoxMaxInstances=150
ti_DiffuseLowResMode = 5
ti_GsmCascadeLod=1
ti_RsmUseColors=0
ti_RT_SS_Fix=1
ti_VoxTexCopyBugWorkaround=3
r_RefractionPartialResolveMinBlocks=1

[6]
sys_spec_Quality=4
e_DynamicLightsMaxEntityLights=32
e_GIMaxDistance=150
ti_DiffuseLowResMode = 1
