[default]
; default of this CVarGroup
= 3

g_joint_breaking=1
p_max_MC_iters=6000
p_max_object_splashes=3
p_splash_dist0=7
p_splash_dist1=30
p_splash_force0=10
p_splash_force1=100
p_splash_vel0=4.5
p_splash_vel1=10
v_vehicle_quality=4
p_max_substeps=5
p_max_substeps_large_group=5
p_num_bodies_large_group=100
p_gravity_z = -13
p_joint_damage_accum=2
p_joint_damage_accum_threshold=0.2

e_CullVegActivation=50
e_PhysFoliage=2
g_tree_cut_reuse_dist=0
es_MaxPhysDist=200
es_MaxPhysDistInvisible=25
e_PhysOceanCell=0.5
e_FoliageWindActivationDist=25
g_breakage_particles_limit=160

[1]
e_CullVegActivation=30
e_PhysFoliage=0
g_tree_cut_reuse_dist=0.35
es_MaxPhysDist=100
es_MaxPhysDistInvisible=15
e_PhysOceanCell=1
e_FoliageWindActivationDist=10
g_breakage_particles_limit=80
p_max_MC_iters=4000

[2]
es_MaxPhysDistInvisible=20
e_FoliageWindActivationDist=15

[4]
e_CullVegActivation=60
es_MaxPhysDist=300
es_MaxPhysDistInvisible=35

; XONE & PS4
[5]
e_CullVegActivation=30
es_MaxPhysDist=50
es_MaxPhysDistInvisible=15
e_PhysOceanCell=1
e_FoliageWindActivationDist=10
p_max_MC_iters=4000
p_max_substeps=2
g_tree_cut_reuse_dist=0.35
g_breakage_particles_limit=80

[6]
e_CullVegActivation=70
es_MaxPhysDist=500
es_MaxPhysDistInvisible=50
e_FoliageWindActivationDist=50