[default]
; default of this CVarGroup
= 3

e_Shadows = 1
e_ShadowsConstBias=0.5
e_GsmExtendLastLod=0
e_ShadowsLodBiasFixed=0
r_ShadowsAdaptionSize=0.35
r_ShadowsAdaptionMin=0.5
e_ShadowsCascadesConstBias=0.5,0.7,3.0,3.0
e_ShadowsCascadesSlopeBias=4.0,2.0,0.5,0.24
e_ShadowsPoolSize=2048
e_ShadowsMaxTexRes=2048
r_ShadowJittering=5
r_ShadowBlur=3
e_GsmLodsNum=4
e_GsmRange=3
e_ShadowsCastViewDistRatio=1
e_ShadowsResScale=3.4
e_ShadowsOnAlphaBlend=1
e_GsmCache = 0
r_ShadowmapCutoffpixels=5
r_ShadowsScreenSpace=1
e_ShadowsBlendCascades=2
e_ShadowsBlendCascadesVal=0.94
ti_ShadowsActive=0
e_gsmRangeStep=3
e_ShadowsClouds=0
e_ShadowsMaxCastViewDist=-1
e_DissolveShadows=1
r_ShadowsAdaptionRangeClamp=0.025
r_ShadowmapCutoffBboxExpandRadius=0.2
e_ShadowsOnWater=0

[1]
e_ShadowsMaxTexRes=1024
r_ShadowJittering=2
r_ShadowBlur=0
e_GsmLodsNum=3
e_ShadowsCastViewDistRatio=0.8
e_ShadowsResScale=2.8
e_ShadowsOnAlphaBlend=0
e_GsmCache = 1
r_ShadowmapCutoffpixels=22
r_ShadowsScreenSpace=0
r_ShadowmapCutoffBboxExpandRadius=0.4
e_GsmRange=4
e_gsmRangeStep=5
e_ShadowsBlendCascades=0

[2]
e_ShadowsMaxTexRes=1024
r_ShadowJittering=2
r_ShadowmapCutoffpixels=15
r_ShadowmapCutoffBboxExpandRadius=0.4
e_GsmLodsNum=3
e_GsmRange=4
e_gsmRangeStep=5
e_ShadowsBlendCascades=0

[4]
e_GsmLodsNum=5
r_ShadowmapCutoffpixels=0
e_ShadowsBlendCascades=4
e_ShadowsBlendCascadesVal=0.94
e_GsmExtendLastLod=1
e_ShadowsOnWater=1

; XONE & PS4
[5]
e_ShadowsClouds=0
e_ShadowsMaxTexRes=2048
e_GsmLodsNum=3
e_ShadowsCastViewDistRatio=0.8
e_ShadowsMaxCastViewDist=200
e_DissolveShadows=1
e_ShadowsLodBiasFixed=0
r_ShadowJittering=2
e_ShadowsPoolSize=1024
e_ShadowsBlendCascades=1
e_ShadowsBlendCascadesVal=0.85
r_ShadowsScreenSpace=0
e_GsmExtendLastLod=1
e_GsmRange=6
e_gsmRangeStep=8
e_ShadowsCascadesConstBias=0.7,1.0,1.9,3.0
e_ShadowsCascadesSlopeBias=4.0,4.0,0.5,0.24

[6]
r_ShadowJittering=3
e_GsmExtendLastLod=1
e_GsmLodsNum=5
e_GsmRange=5
r_ShadowmapCutoffpixels=0
r_ShadowsAdaptionSize=0.75
e_ShadowsBlendCascades=2
e_gsmRangeStep=3
e_ShadowsBlendCascadesVal=0.85
r_ShadowmapCutoffBboxExpandRadius=0
e_ShadowsOnWater=1