[default]
; default of this CVarGroup
= 3

r_MotionBlur=2
r_MotionBlurDOFVersion=1
q_ShaderHDR=2
q_ShaderPostProcess=2
r_ColorGradingChartsCache=0
r_MotionBlurMaxViewDist=100
r_PostProcessHUD3DCache=0
r_UseEdgeAA=1
r_RainMaxViewDist_Deferred=150
r_HDREyeAdaptionCache = 2
r_SSReflections=1
r_SceneMipsBufferHalfRes=0

[1]
r_MotionBlurDOFVersion=0
q_ShaderHDR=1
q_ShaderPostProcess=1
r_ColorGradingChartsCache=4
r_MotionBlurMaxViewDist=16
r_PostProcessHUD3DCache=2
r_UseEdgeAA=0
r_RainMaxViewDist_Deferred=40
r_HDREyeAdaptionCache = 4
r_SSReflections=0
r_MotionBlur=0
r_dofMinZBlendMult=0.6
r_dofLowSpecBlurAmountMultiplier=0.4

[2]
r_MotionBlurDOFVersion=0
q_ShaderHDR=1
q_ShaderPostProcess=1
r_MotionBlurMaxViewDist=64
r_PostProcessHUD3DCache=2
r_RainMaxViewDist_Deferred=100
r_HDREyeAdaptionCache = 4
r_SSReflections=0
r_MotionBlur=0
r_dofMinZBlendMult=0.6
r_dofLowSpecBlurAmountMultiplier=0.4

[4]
q_ShaderHDR=3
q_ShaderPostProcess=3
r_HDREyeAdaptionCache = 0

; XONE & PS4
[5]
r_MotionBlurDOFVersion=0
q_ShaderHDR=1
q_ShaderPostProcess=1
r_ColorGradingChartsCache=4
r_PostProcessHUD3DCache=2
r_MotionBlur=1
r_MotionBlurMaxViewDist=16
r_RainMaxViewDist_Deferred=40

[6]
q_ShaderHDR=3
q_ShaderPostProcess=3
r_HDREyeAdaptionCache = 0
