[default]
; default of this CVarGroup
= 3

e_ProcVegetation=1
e_DecalsAllowGameDecals=1
e_DecalsOverlapping=1
e_DecalsForceDeferred = 0
e_LodMin=0
e_ViewDistMin=10
r_DrawNearZRange=0.12
e_TerrainDetailMaterialsViewDistXY=2048
e_TerrainDetailMaterialsViewDistZ=512
e_OcclusionCullingViewDistRatio = 1
e_Dissolve=1
e_streamCgf=0
e_LodCompMaxSize=6
r_GeomInstancingThreshold=2

e_ObjQuality=4
e_LodRatio=20
e_ViewDistRatioDetail=100
sys_flash_curve_tess_error=2
e_DecalsLifeTimeScale=2
e_ViewDistRatio=100
e_ViewDistRatioCustom=100
e_ViewDistRatioLights=50
e_MaxViewDistSpecLerp=1
es_DebrisLifetimeScale=1
ca_FacialAnimationRadius=30
ca_AttachmentCullingRation=360
e_TerrainOcclusionCullingMaxDist=200
e_WaterVolumesMinPixelsSize=0
e_RecursionViewDistRatio=0.2
e_TerrainDetailMaterialsViewDistZPassMult=1
e_TerrainLodRatio=1
e_TerrainTextureLodRatio=1.0
ca_AttachmentMinPixSize=0
e_MinPixSize=1
ti_VoxSkinnedObjects=1
e_TerrainLodClampDist=200
e_MinPixSizeLinear=0
r_MinPixSizeChunk=0
e_StatObjTestOBB=0
e_CullerMT=0
e_CullerThread=1
e_CullerMTCoverageBuffer=0
e_CoverageBuffer=0
e_OcclusionLazyHideFrames=0

[1]
e_ObjQuality=1
e_LodRatio=10
e_ViewDistRatioDetail=25
sys_flash_curve_tess_error=4
e_DecalsLifeTimeScale=1
e_ViewDistRatio=40
e_ViewDistRatioCustom=60
e_ViewDistRatioLights=25
e_MaxViewDistSpecLerp=0.5
es_DebrisLifetimeScale=0.6
ca_AttachmentCullingRation=145
e_TerrainOcclusionCullingMaxDist=130
e_WaterVolumesMinPixelsSize=10
e_RecursionViewDistRatio=0.1
e_TerrainDetailMaterialsViewDistZPassMult=0.3
e_TerrainLodRatio=1.5
e_TerrainTextureLodRatio=1.5
ca_AttachmentMinPixSize=5
ti_VoxSkinnedObjects=0

[2]
e_ObjQuality=2
e_LodRatio=15
e_ViewDistRatioDetail=35
e_ViewDistRatio=45
es_DebrisLifetimeScale=0.8
ca_AttachmentCullingRation=300
e_WaterVolumesMinPixelsSize=5
e_TerrainDetailMaterialsViewDistZPassMult=0.7
ti_VoxSkinnedObjects=0

[4]
e_ObjQuality=4
e_LodRatio=40
e_ViewDistRatioDetail=125
e_ViewDistRatio=125
e_ViewDistRatioCustom=125
e_ViewDistRatioLights=75
ca_AttachmentCullingRation=400
e_RecursionViewDistRatio=0.3

; XONE & PS4
[5]
e_ObjQuality=2
e_LodRatio=12
e_ViewDistRatioDetail=20
e_ViewDistRatio=45
es_DebrisLifetimeScale=0.8
ca_AttachmentCullingRation=200
ca_FacialAnimationRadius=5
e_TerrainLodRatio=1.5
e_TerrainTextureLodRatio=1.5
e_TerrainDetailMaterialsViewDistXY=512
e_TerrainDetailMaterialsViewDistZ=128
e_TerrainDetailMaterialsViewDistZPassMult=0.3
e_WaterVolumesMinPixelsSize=10
e_MinPixSize=10
e_MinPixSizeLinear=5
r_MinPixSizeChunk=10
e_StatObjTestOBB=1
ca_AttachmentMinPixSize=5
e_CullerMT = 1
e_CullerThread = 4
; CB culling on MT disabled due to performance reason
e_CullerMTCoverageBuffer = 0
e_CoverageBuffer = 0
e_OcclusionLazyHideFrames = 8
r_GeomInstancingThreshold=2
 ; On X1X/PSPro controlled by OnPerformanceModeChanged
e_RecursionViewDistRatio=0.1
e_LodCompMaxSize=20

[6]
e_ObjQuality=4
e_LodRatio=100
e_ViewDistRatioDetail=200
e_ViewDistRatio=500
e_ViewDistRatioCustom=200
e_ViewDistRatioLights=150
ca_AttachmentCullingRation=600
e_RecursionViewDistRatio=0.4
e_MinPixSize=0
e_TerrainLodClampDist=1500
