[default]
; default of this CVarGroup
= 3

ti_SpecularActive=1
ti_specularLowResMode=1
ti_rt_interlacedY=2
ti_SpecularMaxResolution=1080
ti_DiffuseMaxResolution=480
ti_RT_AlphaTest=0
ti_SpecularMaxRayDistanceScale=1
ti_VoxDynamicObjectsExtend=8
ti_VoxObjMaxViewDist=16
ti_VoxLODRatio=1
ti_RT_LodRatio=1
ti_SpecularBoostValue=0.01

[1]
ti_SpecularActive=0

[2]
ti_specularLowResMode=2
ti_rt_interlacedY=2
ti_SpecularMaxResolution=720
ti_DiffuseMaxResolution=480
ti_VoxObjMaxViewDist=32
ti_VoxDynamicObjectsExtend=4
ti_SpecularMaxRayDistanceScale=0.7

[4]
ti_specularLowResMode=1
ti_rt_interlacedY=1
ti_SpecularMaxResolution=1440
ti_RT_AlphaTest=1
ti_DiffuseMaxResolution=480
ti_SpecularMaxRayDistanceScale=2
ti_VoxDynamicObjectsExtend=16
ti_VoxObjMaxViewDist=8
ti_VoxLODRatio=1.4
ti_RT_LodRatio=0.5

[6]
ti_specularLowResMode=0
ti_rt_interlacedY=1
ti_SpecularMaxResolution=2160
ti_RT_AlphaTest=1
ti_DiffuseMaxResolution=720
ti_SpecularMaxRayDistanceScale=3
ti_VoxDynamicObjectsExtend=32
ti_VoxObjMaxViewDist=0
ti_VoxLODRatio=2
ti_RT_LodRatio=0.25
