e_VegetationSprites = 1
e_voxelAoScale = 8
e_StreamPredictionMaxVisAreaRecursion = 9
e_StreamAnimCAFsFromGPUMemory = 1
e_TerrainLodClampDist = 200
e_PhysMinCellSize = 2

r_SSRHalfRes = 0
r_ssaocontrast = 1.125
r_TexturesStreamPoolLevelSize = 0
r_CloakAmbientOffset = 0.0
r_CloakFirstPersonLightScale = 1.0
r_CloakMinLightValue = 5.0
r_CloakSparkTransitionScale = 2.0
r_DepthOfField = 2

g_suitSpeedEnergyConsumption = 24
g_suitSprintMultiplier_speedMode_outOfEnergy = 1.8
g_suitSprintMultiplier_speedMode_gotLowEnergy = 3
g_suitSprintMultiplier_speedMode_gotFullEnergy = 3
g_suitSpeedEnergyConsumptionClassicSuit = 75 
;g_suitSpeedEnergyConsumptionClassicSuit was 110, reduced to allow player to cover more distance. Unfortunately Classic nanosuit does not accelerate like OG Crysis suit.
g_suitArmorModeEnergyDrain = 2
;g_suitArmorModeEnergyDrain was 4, reduced to reduce micromanagement of suit power and be more like cloak.
g_suitSprintAcceleration = 3
g_breakage_mem_limit = 1536
g_DisableDistantEnemies = 0
g_DisableDistantEnemiesBackCutoff = 20
g_DisableDistantEnemiesFrontCutoff = 100

r_TerrainSpecularEnabled = 0